mule-esb-soap/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
	
	<!-- Read Generic SOAP Requests from file to String -->
	<spring:beans>
		<spring:bean id="directionsRequestBean" class="java.lang.String">
			<spring:constructor-arg>
				<spring:bean class="org.springframework.util.FileCopyUtils" factory-method="copyToByteArray">
					<spring:constructor-arg value="classpath:DirectionsRequest.xml" type="java.io.InputStream" />
				</spring:bean>
			</spring:constructor-arg>
		</spring:bean>
		<spring:bean id="forecastRequestBean" class="java.lang.String">
			<spring:constructor-arg>
				<spring:bean class="org.springframework.util.FileCopyUtils" factory-method="copyToByteArray">
					<spring:constructor-arg value="classpath:ForecastRequest.xml" type="java.io.InputStream" />
				</spring:bean>
			</spring:constructor-arg>
		</spring:bean>
		<spring:bean id="placesRequestBean" class="java.lang.String">
			<spring:constructor-arg>
				<spring:bean class="org.springframework.util.FileCopyUtils" factory-method="copyToByteArray">
					<spring:constructor-arg value="classpath:PlacesRequest.xml" type="java.io.InputStream" />
				</spring:bean>
			</spring:constructor-arg>
		</spring:bean>
		<spring:bean id="searchRequestBean" class="java.lang.String">
			<spring:constructor-arg>
				<spring:bean class="org.springframework.util.FileCopyUtils" factory-method="copyToByteArray">
					<spring:constructor-arg value="classpath:SearchRequest.xml" type="java.io.InputStream" />
				</spring:bean>
			</spring:constructor-arg>
		</spring:bean>
	</spring:beans>
	
	<flow name="mainFlow">
		<http:inbound-endpoint host="localhost" port="8084" exchange-pattern="request-response"/>
		<!-- Read beans -->
		<set-variable variableName="directionsRequest" value="#[app.registry.directionsRequestBean]"/>
		<set-variable variableName="placesRequest" value="#[app.registry.placesRequestBean]"/>
		<set-variable variableName="forecastRequest" value="#[app.registry.forecastRequestBean]"/>
		<set-variable variableName="searchRequest" value="#[app.registry.searchRequestBean]"/>
		
		<set-variable variableName="originElement" value="#['&lt;origin&gt;' + message.inboundProperties['origin']]"/>
		<set-variable variableName="destinationElement" value="#['&lt;destination&gt;' + message.inboundProperties['destination']]"/>
		<set-variable variableName="travelModeElement" value="#['&lt;mode&gt;' + message.inboundProperties['travelMode']]"/>
		<set-variable variableName="objectiveRadiusElement" value="#['&lt;radius&gt;' + message.inboundProperties['objectiveRadius']]"/>
		<set-variable variableName="objectiveTypesElement" value="#['&lt;types&gt;' + message.inboundProperties['objectiveTypes']]"/>
		<set-variable variableName="forecastUnitsElement" value="#['&lt;units&gt;' + message.inboundProperties['forecastUnits']]"/>
		<set-variable variableName="forecastDaysElement" value="#['&lt;cnt&gt;' + message.inboundProperties['forecastDays']]"/>
		<set-variable variableName="forecastQueryElement" value="#['&lt;q&gt;' + message.inboundProperties['destination']]"/>
		<set-variable variableName="imagesElement" value="#['&lt;num&gt;' + message.inboundProperties['images']]"/>
		<set-variable variableName="imagesQueryElement" value="#['&lt;q&gt;' + message.inboundProperties['destination']]"/>
		
    	<flow-ref name="directionsFlow"/>
    	<flow-ref name="forecastFlow"/>
    	<flow-ref name="searchFlow"/>
    	
    	<set-payload value="#[flowVars['searchResponse']]" />
        <set-payload value="#[xpath('//SearchResponse')]"/>
        <mulexml:dom-to-xml-transformer/>
        <object-to-string-transformer/>
        <set-payload mimeType="text/xml" value="#[message.payload]"/>
        <set-variable variableName="searchResponseXMLString" value="#[message.payload]"/>
     	
     	<set-payload value="#[flowVars['placesResponse']]" />
     	<set-payload value="#[xpath('//PlacesResponse')]"/>
     	<mulexml:dom-to-xml-transformer/>
        <object-to-string-transformer/>
        <set-payload mimeType="text/xml" value="#[message.payload]"/>
        <set-variable variableName="placesResponseXMLString" value="#[message.payload]"/>
        
        <set-payload value="#[flowVars['forecastResponse']]" />
     	<set-payload value="#[xpath('//ForecastResponse')]"/>
     	<mulexml:dom-to-xml-transformer/>
        <object-to-string-transformer/>
        <set-payload mimeType="text/xml" value="#[message.payload]"/>
        <set-variable variableName="forecastResponseXMLString" value="#[message.payload]"/>
        
        <set-payload value="#[flowVars['directionsResponse']]" />
     	<set-payload value="#[xpath('//DirectionsResponse/DirectionsResponse')]"/>
     	<mulexml:dom-to-xml-transformer/>
        <object-to-string-transformer/>
        <set-payload mimeType="text/xml" value="#[message.payload]"/>
        <set-variable variableName="directionsResponseXMLString" value="#[message.payload]"/>
        
     	<set-payload mimeType="text/xml" value="&lt;TravelResponse&gt;#[flowVars['directionsResponseXMLString']]#[flowVars['placesResponseXMLString']]
     		#[flowVars['searchResponseXMLString']]#[flowVars['forecastResponseXMLString']]&lt;/TravelResponse&gt;"/> 
	</flow>

	<sub-flow name="forecastFlow">
		<!-- Set Forecast SOAP Payload -->
		<set-payload mimeType="text/xml" value="#[flowVars['forecastRequest']
			.replace('&lt;q&gt;', flowVars['forecastQueryElement'])
			.replace('&lt;cnt&gt;', flowVars['forecastDaysElement'])
			.replace('&lt;units&gt;', flowVars['forecastUnitsElement'])]"/>
		<http:outbound-endpoint exchange-pattern="request-response" method="POST" 
        	address="http://localhost:9003/soapwrapper/Forecast"/>
        <object-to-byte-array-transformer/>
        <byte-array-to-object-transformer/>
        <set-variable variableName="forecastResponse" value="#[message.payload]"/>

	</sub-flow>
	
	<sub-flow name="directionsFlow">
		<!-- Set Directions SOAP Payload -->
		<set-payload mimeType="text/xml" value="#[flowVars['directionsRequest']
			.replace('&lt;origin&gt;', flowVars['originElement'])
			.replace('&lt;destination&gt;', flowVars['destinationElement'])
			.replace('&lt;mode&gt;', flowVars['travelModeElement'])]"/>
	
		<http:outbound-endpoint address="http://localhost:9000/soapwrapper/Directions" exchange-pattern="request-response" method="POST"/>
		<object-to-byte-array-transformer/>
		<byte-array-to-object-transformer/>

		<set-variable variableName="directionsResponse" value="#[message.payload]"/>
		<set-variable variableName="latitude" value="#[xpath('string(//leg/end_location/lat)')]"/>
        <set-variable variableName="longitude" value="#[xpath('string(//leg/end_location/lng)')]"/>
		
		<set-variable variableName="locationElement" value="#['&lt;location&gt;' + flowVars['latitude'] + ',' + flowVars['longitude']]"/>
			
		<!-- Set Places SOAP Payload -->
		<set-payload mimeType="text/xml" value="#[flowVars['placesRequest']
			.replace('&lt;location&gt;', flowVars['locationElement'])
			.replace('&lt;radius&gt;', flowVars['objectiveRadiusElement'])
			.replace('&lt;types&gt;', flowVars['objectiveTypesElement'])]"/>
		<http:outbound-endpoint exchange-pattern="request-response" method="POST" address="http://localhost:9001/soapwrapper/Places"/>
        <object-to-byte-array-transformer/>
		<byte-array-to-object-transformer/>
		<set-variable variableName="placesResponse" value="#[message.payload]"/>
	</sub-flow>
	
	<sub-flow name="searchFlow">
		<set-payload mimeType="text/xml" value="#[flowVars['searchRequest']
			.replace('&lt;q&gt;', flowVars['imagesQueryElement'])
			.replace('&lt;num&gt;', flowVars['imagesElement'])]"/>
		<http:outbound-endpoint exchange-pattern="request-response" method="POST" address="http://localhost:9002/soapwrapper/Search"/>
        <object-to-byte-array-transformer/>
        <byte-array-to-object-transformer/>
        <set-variable variableName="searchResponse" value="#[message.payload]"/>
	</sub-flow>
</mule>
