mule-rest-performance/target/classes/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.mulesoft.org/schema/mule/core"
      version="EE-3.4.0"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <spring:beans>
        <spring:bean id="arithmeticProgressionRequestBean" class="java.lang.String">
            <spring:constructor-arg>
                <spring:bean class="org.springframework.util.FileCopyUtils"
                             factory-method="copyToByteArray">
                    <spring:constructor-arg
                            value="classpath:ArithmeticProgressionRequest.json" type="java.io.InputStream"/>
                </spring:bean>
            </spring:constructor-arg>
        </spring:bean>
        <spring:bean id="geometricProgressionRequestBean" class="java.lang.String">
            <spring:constructor-arg>
                <spring:bean class="org.springframework.util.FileCopyUtils"
                             factory-method="copyToByteArray">
                    <spring:constructor-arg
                            value="classpath:GeometricProgressionRequest.json" type="java.io.InputStream"/>
                </spring:bean>
            </spring:constructor-arg>
        </spring:bean>
        <spring:bean id="oneParamRequestBean" class="java.lang.String">
            <spring:constructor-arg>
                <spring:bean class="org.springframework.util.FileCopyUtils"
                             factory-method="copyToByteArray">
                    <spring:constructor-arg value="classpath:OneParamRequest.json"
                                            type="java.io.InputStream"/>
                </spring:bean>
            </spring:constructor-arg>
        </spring:bean>
        <spring:bean id="twoParamsRequestBean" class="java.lang.String">
            <spring:constructor-arg>
                <spring:bean class="org.springframework.util.FileCopyUtils"
                             factory-method="copyToByteArray">
                    <spring:constructor-arg value="classpath:TwoParamsRequest.json"
                                            type="java.io.InputStream"/>
                </spring:bean>
            </spring:constructor-arg>
        </spring:bean>
        <spring:bean id="trigonometricalRequestBean" class="java.lang.String">
            <spring:constructor-arg>
                <spring:bean class="org.springframework.util.FileCopyUtils"
                             factory-method="copyToByteArray">
                    <spring:constructor-arg value="classpath:TrigonometricalRequest.json"
                                            type="java.io.InputStream"/>
                </spring:bean>
            </spring:constructor-arg>
        </spring:bean>
        <spring:bean id="csvFileRequestBean" class="java.lang.String">
            <spring:constructor-arg>
                <spring:bean class="org.springframework.util.FileCopyUtils"
                             factory-method="copyToByteArray">
                    <spring:constructor-arg value="classpath:CSVFileRequest.json"
                                            type="java.io.InputStream"/>
                </spring:bean>
            </spring:constructor-arg>
        </spring:bean>
    </spring:beans>
    <flow name="mule-rest-performanceFlow">
        <http:inbound-endpoint exchange-pattern="request-response"
                               host="localhost" port="8084"/>
        <set-variable variableName="n"
                      value="#[message.inboundProperties['n']]"/>
        <set-variable variableName="m"
                      value="#[message.inboundProperties['m']]"/>
        <set-variable variableName="p"
                      value="#[message.inboundProperties['p']]"/>
        <set-variable variableName="arithmeticProgressionRequest"
                      value="#[app.registry.arithmeticProgressionRequestBean]"/>
        <set-variable variableName="geometricProgressionRequest"
                      value="#[app.registry.geometricProgressionRequestBean]"/>
        <set-variable variableName="oneParamRequest"
                      value="#[app.registry.oneParamRequestBean]"/>
        <set-variable variableName="twoParamsRequest"
                      value="#[app.registry.twoParamsRequestBean]"/>
        <set-variable variableName="trigonometricalRequest"
                      value="#[app.registry.trigonometricalRequestBean]"/>
        <set-variable variableName="csvFileRequest"
                      value="#[app.registry.csvFileRequestBean]"/>
        <set-payload mimeType="application/json"
                     value="#[flowVars['trigonometricalRequest'].replace('dummyAngle', '30')]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="PUT" address="http://192.168.243.87:9006/Trigonometrical/sin"/>
        <json:json-to-object-transformer
                returnClass="java.lang.Object"/>
        <set-payload value="#[message.payload.result]"/>
        <set-variable variableName="sinResponse" value="#[message.payload]"/>
        <set-payload mimeType="application/json"
                     value="#[flowVars['trigonometricalRequest'].replace('dummyAngle', '30')]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="PUT" address="http://192.168.243.87:9006/Trigonometrical/cos"/>
        <json:json-to-object-transformer
                returnClass="java.lang.Object"/>
        <set-payload value="#[message.payload.result]"/>
        <set-variable variableName="cosResponse" value="#[message.payload]"/>
        <set-payload mimeType="application/json"
                     value="#[flowVars['twoParamsRequest'].replace('dummyFirstParam', flowVars['sinResponse']).replace('dummySecondParam', flowVars['cosResponse'])]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="PUT" address="http://192.168.243.86:9005/Multiplication/divide"/>
        <json:json-to-object-transformer
                returnClass="java.lang.Object"/>
        <set-payload value="#[message.payload.result]"/>
        <set-variable variableName="divideResponse" value="#[message.payload]"/>
        <set-payload mimeType="application/json"
                     value="#[flowVars['arithmeticProgressionRequest'].replace('dummyN', flowVars['n']).replace('dummyD', '1').replace('dummyA', '1')]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="POST" address="http://192.168.243.82:9001/ArithmeticProgression/compute"/>
        <json:json-to-object-transformer
                returnClass="java.lang.Object"/>
        <set-payload value="#[message.payload.result]"/>
        <set-variable variableName="arithmeticProgressionResponse"
                      value="#[message.payload]"/>
        <set-payload mimeType="application/json"
                     value="#[flowVars['twoParamsRequest'].replace('dummyFirstParam', flowVars['arithmeticProgressionResponse']).replace('dummySecondParam', '3')]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="PUT" address="http://192.168.243.84:9003/Exponential/pow"/>
        <json:json-to-object-transformer
                returnClass="java.lang.Object"/>
        <set-payload value="#[message.payload.result]"/>
        <set-variable variableName="powResponse" value="#[message.payload]"/>
        <set-payload mimeType="application/json"
                     value="#[flowVars['twoParamsRequest'].replace('dummyFirstParam', flowVars['divideResponse']).replace('dummySecondParam', flowVars['powResponse'])]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="PUT" address="http://192.168.243.86:9005/Multiplication/multiply"/>
        <json:json-to-object-transformer
                returnClass="java.lang.Object"/>
        <set-variable variableName="elapsedTime" value="#[message.payload.elapsedTime]"/>
        <set-payload value="#[message.payload.result]"/>
        <set-variable variableName="sequenceA" value="#[message.payload]"/>

        <set-payload mimeType="application/json"
                     value="#[flowVars['csvFileRequest'].replace('dummyPath', '/tmp/tmp.csv').replace('dummyKey', flowVars['elapsedTime']).replace('dummyValue', flowVars['sequenceA'])]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="PUT" address="http://192.168.243.83:9002/CSVFile/addEntry"/>
        <set-payload mimeType="application/json"
                     value="#[flowVars['geometricProgressionRequest'].replace('dummyN', flowVars['m']).replace('dummyR', '2').replace('dummyA', '1')]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="POST" address="http://192.168.243.85:9004/GeometricProgression/compute"/>
        <json:json-to-object-transformer
                returnClass="java.lang.Object"/>
        <set-payload value="#[message.payload.result]"/>
        <set-variable variableName="geometricProgressionResponse"
                      value="#[message.payload]"/>
        <set-payload mimeType="application/json"
                     value="#[flowVars['twoParamsRequest'].replace('dummyFirstParam', '3').replace('dummySecondParam', '0.5')]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="PUT" address="http://192.168.243.84:9003/Exponential/pow"/>
        <json:json-to-object-transformer
                returnClass="java.lang.Object"/>
        <set-payload value="#[message.payload.result]"/>
        <set-variable variableName="sqrtResponse" value="#[message.payload]"/>
        <set-payload mimeType="application/json"
                     value="#[flowVars['twoParamsRequest'].replace('dummyFirstParam', flowVars['geometricProgressionResponse']).replace('dummySecondParam', flowVars['sqrtResponse'])]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="PUT" address="http://192.168.243.86:9005/Multiplication/multiply"/>
        <json:json-to-object-transformer
                returnClass="java.lang.Object"/>


        <set-variable variableName="elapsedTime" value="#[message.payload.elapsedTime]"/>
        <set-payload value="#[message.payload.result]"/>
        <set-variable variableName="sequenceB" value="#[message.payload]"/>

        <set-payload mimeType="application/json"
                     value="#[flowVars['csvFileRequest'].replace('dummyPath', '/tmp/tmp.csv').replace('dummyKey', flowVars['elapsedTime']).replace('dummyValue', flowVars['sequenceB'])]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="PUT" address="http://192.168.243.83:9002/CSVFile/addEntry"/>

        <set-payload mimeType="application/json"
                     value="#[flowVars['oneParamRequest'].replace('dummyParam', '10')]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="PUT" address="http://192.168.243.84:9003/Exponential/log"/>
        <json:json-to-object-transformer
                returnClass="java.lang.Object"/>
        <set-payload value="#[message.payload.result]"/>
        <set-variable variableName="logResponse" value="#[message.payload]"/>
        <set-payload mimeType="application/json"
                     value="#[flowVars['twoParamsRequest'].replace('dummyFirstParam', flowVars['logResponse']).replace('dummySecondParam', flowVars['p'])]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="PUT" address="http://192.168.243.86:9005/Multiplication/multiply"/>
        <json:json-to-object-transformer
                returnClass="java.lang.Object"/>
        <set-variable variableName="elapsedTime" value="#[message.payload.elapsedTime]"/>
        <set-payload value="#[message.payload.result]"/>
        <set-variable variableName="sequenceC" value="#[message.payload]"/>

        <set-payload mimeType="application/json"
                     value="#[flowVars['csvFileRequest'].replace('dummyPath', '/tmp/tmp.csv').replace('dummyKey', flowVars['elapsedTime']).replace('dummyValue', flowVars['sequenceC'])]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="PUT" address="http://192.168.243.83:9002/CSVFile/addEntry"/>
        <set-payload mimeType="application/json"
                     value="#[flowVars['twoParamsRequest'].replace('dummyFirstParam', flowVars['sequenceA']).replace('dummySecondParam', flowVars['sequenceB'])]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="PUT" address="http://192.168.243.81:9000/Addition/add"/>
        <json:json-to-object-transformer
                returnClass="java.lang.Object"/>
        <set-payload value="#[message.payload.result]"/>
        <set-variable variableName="additionResponse" value="#[message.payload]"/>
        <set-payload mimeType="application/json"
                     value="#[flowVars['twoParamsRequest'].replace('dummyFirstParam', flowVars['additionResponse']).replace('dummySecondParam', flowVars['sequenceC'])]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="PUT" address="http://192.168.243.81:9000/Addition/substract"/>
        <json:json-to-object-transformer
                returnClass="java.lang.Object"/>

        <set-variable variableName="finalResult" value="#[message.payload.result]"/>
        <http:outbound-endpoint exchange-pattern="request-response"
                                method="DELETE" address="http://192.168.243.83:9002/CSVFile/?path=%7Ctmp%7Ctmp.csv"/>
        <set-payload value="#[flowVars['finalResult']]"/>
    </flow>
</mule>
