mule-esb-rest/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.4.1" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">
    <flow name="restcomposerFlow1" >
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8084"/>

        <set-variable variableName="origin" value="#[message.inboundProperties['origin']]"/>
        <set-variable variableName="destination" value="#[message.inboundProperties['destination']]"/>
        <set-variable variableName="travelMode" value="#[message.inboundProperties['travelMode']]"/>
        <set-variable variableName="objectiveRadius" value="#[message.inboundProperties['objectiveRadius']]"/>
        <set-variable variableName="objectiveTypes" value="#[message.inboundProperties['objectiveTypes']]"/>
        <set-variable variableName="objectiveRadius" value="#[message.inboundProperties['objectiveRadius']]"/>
        <set-variable variableName="forecastUnits" value="#[message.inboundProperties['forecastUnits']]"/>
        <set-variable variableName="forecastDays" value="#[message.inboundProperties['forecastDays']]"/>
        <set-variable variableName="images" value="#[message.inboundProperties['images']]"/>

        <set-variable variableName="key" value="AIzaSyDtfFjvrCJqIThah6qy_TxmljHfChEzHpQ"/>
        <set-variable variableName="sensor" value="false"/>
        <set-variable variableName="customSearchEngineKey" value="000550344702812047067:mqkgkrhdnii""/>
        <set-variable variableName="searchType" value="image"/>
        <set-variable variableName="alt" value="Atom"/>
        <set-variable variableName="mode" value="xml"/>

        <flow-ref name="forecastFlow"/>
        <flow-ref name="directionsFlow"/>
        <flow-ref name="imageSearchFlow"/>

        <set-payload mimeType="text/xml" value="&lt;TravelResponse&gt;
        		&lt;DirectionsResponse&gt;#[flowVars['directionsResponse']]&lt;/DirectionsResponse&gt;
        		&lt;PlacesResponse&gt;#[flowVars['placesResponse']]&lt;/PlacesResponse&gt;
        		&lt;SearchResponse&gt;#[flowVars['searchResponse']]&lt;/SearchResponse&gt;
            	&lt;ForecastResponse&gt;#[flowVars['forecastResponse']]&lt;/ForecastResponse&gt;
            &lt;/TravelResponse&gt;"/>
    </flow>

    <sub-flow name="forecastFlow">
        <http:outbound-endpoint exchange-pattern="request-response" method="GET" address="http://api.openweathermap.org/data/2.5/forecast/daily?q=#[flowVars['q']]&amp;mode=#[flowVars['mode']]&amp;cnt=#[flowVars['forecastDays']]&amp;units=#[flowVars['forecastUnits']]"/>
        <object-to-byte-array-transformer/>
        <byte-array-to-object-transformer/>
        <set-variable variableName="forecastResponse" value="#[message.payload.substring(message.payload.indexOf('\n') + 1)]"/>
    </sub-flow>
    <sub-flow name="directionsFlow">
        <http:outbound-endpoint exchange-pattern="request-response" method="GET" address="http://maps.googleapis.com/maps/api/directions/xml?origin=#[flowVars['origin']]&amp;destination=#[flowVars['destination']]&amp;sensor=#[flowVars['sensor']]"/>
        <object-to-byte-array-transformer />
        <byte-array-to-object-transformer/>
        <set-variable variableName="directionsResponse" value="#[message.payload.substring(message.payload.indexOf('\n') + 1)]"/>
        <set-variable variableName="latitude" value="#[xpath('string(//leg/end_location/lat)')]"/>
        <set-variable variableName="longitude" value="#[xpath('string(//leg/end_location/lng)')]"/>
        <https:outbound-endpoint exchange-pattern="request-response" method="GET" address="https://maps.googleapis.com/maps/api/place/nearbysearch/xml?location=#[flowVars['latitude']],#[flowVars['longitude']]&amp;radius=#[flowVars['objectiveRadius']]&amp;types=#[flowVars['objectiveTypes']]&amp;key=#[flowVars['key']]&amp;sensor=#[flowVars['sensor']]"/>
        <object-to-byte-array-transformer/>
        <byte-array-to-object-transformer/>
        <set-variable variableName="placesResponse" value="#[message.payload.substring(message.payload.indexOf('\n') + 1)]"/>
    </sub-flow>
    <sub-flow name="imageSearchFlow">
        <https:outbound-endpoint exchange-pattern="request-response" method="GET" address="https://www.googleapis.com/customsearch/v1?q=#[flowVars['destination']]&amp;cx=#[flowVars['customSearchEngineKey']]&amp;searchType=#[flowVars['searchType']]&amp;alt=#[flowVars['alt']]&amp;key=#[flowVars['key']]&amp;num=#[flowVars['images']]"/>
        <object-to-byte-array-transformer/>
        <byte-array-to-object-transformer/>
        <set-variable variableName="searchResponse" value="#[message.payload.substring(message.payload.indexOf('\n') + 1)]"/>
    </sub-flow>
</mule>
